header{background-color: #888888;}
h1{color: #ffffff;text-align: center;text-transform: uppercase;}
nav{color: #000000; text-align: center;}
a{color: black; text-align: center;background-color: #aaaaaa;}
.left{display: none;}
.right{background-color: #888888;}
h2{color: #0000ff;text-transform: uppercase;}
